{% extends 'header.html' %}
<!-- {% load static %} -->

{% block title %} Contact {% endblock title %}

{% block content %}
<!--- panel wrap div end -->
<div class="page-wrap">
  <div class="page-wrapper">
    <div class="primary-content marRight30">
      <div class="mid-panel">
        <div class="mid-panel-content">
          <div class="title">
            <h1>contact</h1>
          </div>
          <div class="border"></div>
          <h2>Subheading goes here</h2>
          <form>
            <div class="contact-form margin-top">
              <label> <span>Full name</span>
              <input class="form-control" type="text" class="input_text" name="name" id="name"/>
              </label>
              <label> <span>Email</span>
              <input type="text" class="input_text" name="email" id="email"/>
              </label>
              <label> <span>Subject</span>
              <input type="text" class="input_text" name="subject" id="subject"/>
              </label>
              <label> <span>Message</span>
              <textarea class="message" name="feedback" id="feedback"></textarea>
              <input type="button" class="button" value="Submit Form" />
              </label>
            </div>
          </form>
          <div class="clearing"></div>
          <div class="address">
            <div class="panel">
              <div class="title">
                <h1>Address - 01</h1>
              </div>
              <div class="content">
                <p>Block No:5, Some where Road,<br />
                  City name, State, Country name</p>
                <p><span>Phone :</span> 000 888 88888</p>
                <p><span>Email :</span> <a href="mailto:info@companyname.com">info@companyname.com</a></p>
              </div>
            </div>
            <div class="panel">
              <div class="title">
                <h1>Address - 02</h1>
              </div>
              <div class="content">
                <p>Block No:5, Some where Road,<br />
                  City name, State, Country name</p>
                <p><span>Phone :</span> 000 888 88888</p>
                <p><span>Email :</span> <a href="mailto:info@companyname.com">info@companyname.com</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <div class="search-panel">
        <div class="content">
          <div class="title">
            <h1>Lorem ipsum dolo</h1>
          </div>
          <div class="border"></div>
          <h2>Search the site here...</h2>
          <div class="searchbox">
            <input type="text" class="input" value="" />
            <div class="button"><a href="#"></a></div>
          </div>
        </div>
      </div>
      <div class="midpanel">
        <div class="content marginBottom">
          <div class="title">
            <h1>Morbi id dolor vel</h1>
          </div>
          <div class="border"></div>
          <ul>
            <li><a href="#">Integer a diam sed lectus accumsan</a></li>
            <li><a href="#">Duis mattis consequat mi, sed tincidunt </a></li>
            <li><a href="#">Maecenas scelerisque mauris at leo</a></li>
            <li><a href="#">IQuisque porta eros ut risus rhoncus nec</a></li>
            <li><a href="#">Praesent ut leo eu nibh accumsan ele</a></li>
            <li><a href="#">Sed ut mauris eget orci rutrum vulputa</a></li>
            <li class="borderNone padBottom20"><a href="#">In condimentum velit at ipsum portti</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>
<!--- page wrap div end -->
{% endblock content %}
